{% extends 'auctions/layout.html' %}
{% block title %}
{{item.name}}
{% endblock %}
{% block body %}

<div class="h4 pb-2 mb-4 text-info border-bottom border-info">
    <small>
        <h3>Listing: {{item.name}}</h3>
        <small>
            {% if item.isActive %}
            <span class="badge text-bg-success">active</span>

            {% if user.is_authenticated and username == item.Owner %}
            <form action="{% url 'closebid' item.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-info btn-sm ">close bid</button>
            </form>
            {% endif %}

            {% else %}

            {% if item.highest_bidder == username %}
            <span class="badge text-bg-warning">closed and you are the winner of this bid</span>
            {% elif item.highest_bidder == None %}
            <span class="badge text-bg-warning">closed and no one have bidded in this listing</span>
            {% else %}
            <span class="badge text-bg-warning">closed and {{item.highest_bidder}} is the winner of this bid</span>
            {% endif %}

            {% endif %}
        </small>
    </small>
</div>

<div class="single_item container-fluid">
    <div>
        <img height="250px" src="{{item.image}}">
    </div>
    <div>
        <h5>{{item.description}}</h5>

        {% if item.highest_bid is None %}
        <h4><strong> ₹&nbsp;{{item.price}}</strong><small><small> initial
                    price</small></small></h4><br>
        {% else %}
        <h4><strong> ₹&nbsp;{{item.highest_bid}}</strong></h4><br>
        {% endif %}

        <p>Bid History: </p>
        <ul class="list-group list-group-flush">
            {% for bid in bids %}
            <li class="list-group-item d-flex justify-content-start align-items-center list-group-item-light">
                {{ bid.bidder.username }}&nbsp;&nbsp;
                <span class="badge bg-info rounded-pill"> {{ bid.amount }}</span>
            </li>
            {% empty %}
            <button class="btn btn-dark" type="button" disabled>
                <span class="spinner-border text-light spinner-border-sm" role="status" aria-hidden="true"></span>
                No bids yet.
            </button>
            {% endfor %}
        </ul><br>

        <small>{{bid_count}} bid(s) so far.
            {% if item.highest_bidder is None %}
            No one bidded yet.
            {% elif item.highest_bidder == username %}
            Your bid is the current bid.
            {% else %}
            {{ item.highest_bidder }}'s bid is the current bid.</small>
        {% endif %}

        {% if user.is_authenticated and item.isActive %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                {{ bid_form }}
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Place Bid</button>
            <br><span class="badge rounded-pill text-bg-danger">{{ error_msg }}</span>
        </form>
        {% else %}

        {% if not item.isactive %}
        <span class="badge rounded-pill text-bg-warning"><strong>bidding is closed</strong></span>
        {% else %}
        <a class="nav-link badge rounded-pill text-bg-danger" href="{% url 'login' %}"><strong>sign in to
                bid</strong></a>
        {% endif %}

        {% endif %}


        <br>
        <h5><strong>Details</strong></h5>
        <ul>
            <li>
                Listed by: {{item.Owner}}
            </li>
            <li>Category:
                {% if item.category == None %}
                No Category Listed
                {% else %}
                {{item.category}}
                {% endif %}
            </li>
            <li>
                <small>Created: {{item.date_time}}</small>
            </li>
        </ul>
    </div>
    <div>


        {% if request.user.is_authenticated %}
        <div style="margin-bottom: 10px;">
            <form action="{% url 'updatewatchlist' item.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">{{ watchlist_btn }}</button>
            </form>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <form action="{% url 'item_details' item_id=item.id %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                {{ your_comment }}
            </div>
            <button type="submit" class="btn btn-success btn-sm ">Comment</button>
        </form>
        {% else %}
        <a class="nav-link badge rounded-pill text-bg-danger" href="{% url 'login' %}"><strong>sign in to
                comment</strong></a>
        {% endif %}
        <br>
        <h5><strong>Comments:</strong></h5>
        {% for comment in all_comments %}
        <p><strong>{{ comment.commentator.username }}</strong> : {{ comment.comment }}</p>
        {% endfor %}

    </div>
</div>
{% endblock %}