{% extends "auctions/layout.html" %}

{% block body %}
<h3>List your item</h3>

<form action="{% url 'createListing' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Name:</label>
        <input autofocus class="form-control" type="text" id="id_name" name="name" placeholder="name of the item"
            required>
    </div>
    <div class="form-group">
        <label for="id_price">Price:</label>
        <input class="form-control" type="number" id="id_price" name="price" placeholder="starting price" required>
    </div>
    <div class="form-group">
        <label for="id_description">Description:</label>
        <textarea id="id_description" name="description" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="id_imgurl">Image Url:</label>
        <input class="form-control" id="id_imgurl" type="text" name="image" placeholder="url of the item image"
            required>
    </div>
    <div class="form-group">
        <label for="id_categories">choose a category:</label>
        <select class="form-control" name="category" id="id_categories">
            <option value="mobile">mobile</option>
            <option value="laptop">laptop</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

{% endblock %}