{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2><br>
{% for item in items %}
<div class="listings container-fluid card">
    <div>
        <img class="bd-placeholder-img card-img-left" height="150vh" src="{{item.image}}">
    </div>
    <div>
        <h5><a class="stretched-link" href="{% url 'item_details' item_id=item.id %}"><strong>{{item.name}}</strong></a>
        </h5>
        <h5><b>Price:</b> ₹{{item.price}}</h5>
        <h5>{{item.description}}</h5>
        <p><small>Created: {{item.date_time}}</small>
        <p>
    </div>
</div><br>
{% endfor %}
{% endblock %}