{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2><br>
{% for auction in auctionlistings %}
<div class="listings container-fluid card">
    <div>
        <img class="bd-placeholder-img card-img-left" height="150vh" src="{{auction.image}}">
    </div>
    <div>
        <h5><a class="stretched-link"
                href="{% url 'item_details' item_name=auction.name %}"><strong>{{auction.name}}</strong></a>
        </h5>
        <h5><b>Price:</b> ₹{{auction.price}}</h5>
        <h5>{{auction.description}}</h5>
        <p><small>Created: {{auction.date_time}}</small>
        <p>
    </div>
</div><br>
{% endfor %}
{% endblock %}