{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
{% for auction in auctionlistings %}
<div class="auction"
    style="display: flex; gap: 15px; justify-content: left; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: left;">
    <div>
        <img height="250px" src="{{auction.image}}">
    </div>
    <div>
        <h5><strong>{{auction.name}}</strong> </h5>
        <h5><b>Price:</b> ₹{{auction.price}}</h5>
        <h5>{{auction.description}}</h5>
        <h5><b>Category:</b> {{auction.category}}</h5>
        <p><small>Created: {{auction.date_time}}</small>
        <p>
    </div>
</div>
<hr><br>
{% endfor %}
{% endblock %}