{% extends 'auctions/layout.html' %}

{% block body %}
<h3>Listing: {{item_name}}</h3>
<hr>
<div class="auction container-fluid"
    style="display: flex; gap: 20px; flex-direction: row; flex-wrap: wrap; align-items: center;">
    <div>
        <img height="250px" src="{{item.image}}">
    </div>
    <div>
        <h5>{{item.description}}</h5>
        <h4><strong> ₹&nbsp;{{item.price}}</strong></h4><br>
        <p><small>#todo no of bid & current bid</small></p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="number" name="bid" placeholder="Bid" required>
            </div>
            <button type="submit" class="btn btn-primary">Place Bid</button>
        </form>
        <h5 style="margin: 10px;"><strong>Details</strong></h5>
        <ul>
            <li>
                Listed by: {{item.Owner}}
            </li>
            <li>Category:
                {% if item.category == None %}
                No Category Listed
                {% else %}
                {{item.category}}
                {% endif %}
            </li>
            <li>
                <small>Created: {{item.date_time}}</small>
            </li>
        </ul>
    </div>
    <div>
        <h5 style="margin: 10px;"><strong>Comments:</strong></h5>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="comment" placeholder="Add a comment" required>
            </div>
            <button type="submit" class="btn-sm btn-primary">Comment</button>
        </form>
    </div>
</div>
{% endblock %}