{% extends 'auctions/layout.html' %}

{% block body %}
<h3>Category: {{ category.categoryName }}</h3>
<hr>
{% for product in products %}
<div class="container-fluid card" style="display: flex; gap: 20px; flex-direction: row; align-items: center;">
    <div>
        <img class="bd-placeholder-img card-img-left" height="150vh" src="{{product.image}}">
    </div>
    <div>
        <h5><a class="stretched-link"
                href="{% url 'item_details' item_name=product.name %}"><strong>{{product.name}}</strong></a></h5>
        <h5><b>Price:</b> ₹{{product.price}}</h5>
        <h5>{{product.description}}</h5>
        <h5><b>Category:</b> {{product.category}}</h5>
        <p><small>Created: {{product.date_time}}</small>
        <p>
    </div>
</div>
<hr><br>
{% empty %}
<p>No products available in this category.</p>
{% endfor %}
{% endblock %}